:root {
    --primary-title-color:   #ffffff;
    --secondary-title-color: #212121;
    --primary-text-color:    #757575;
    --secondary-text-color:  #212121;
    --accent-color:           #2196F3;
    --heder-text-color:       #212121;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    background: var(--primary-text-color)
    letter-spacing: 0.03em;
    
}


.link {
    text-decoration: none ;
} 
 

.list {
    list-style: none;
}
 .btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    

 }
/*-------------HEADER-------*/
.header{
    background-color
}
    .header-logo{
font-weight: 700;
font-size: 26px;
line-height: 1.19px
letter-spacing  0.03em;
color: var(--accent-color);
}
.header-logo-link{
    text-decoration: none ;
}


.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--heder-text-color);
}

.header-link:hover,.focus{
    color: var(--accent-color);
    color: var(--accent-color);
}

.header-link{
    text-decoration: none ;
}
    

.header-tel-link{
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--primary-text-color) 
}



.header-btn {
    color:#2196F3 
}
/*-------------HERO-------*/
.title{

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
 color: var(--secondary-title-color);
}
 .text{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7; 
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
 }

.title-work{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color)
}

.about-tietle{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-text-color)
}

   
ё



.about-text{
font-weight: 500;
font-size: 16px;
text-align: center;
color:var(--heder-text-color)
}

.post-about-text{
font-weight: 400;
font-size: 16px;
color:var(--primary-text-color)
}
/*-------------FOTER-------*/

.post-logo-link link{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.post-text{
    font-weight: 400;
font-size: 14px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.header-tel {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--primary-text-color)
}
